src/main/resources/META-INF/lop.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<xsd:schema xmlns="http://www.lop.org/lop"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:tool="http://www.springframework.org/schema/tool"
	targetNamespace="http://www.lop.org/lop">
	
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
    <xsd:import namespace="http://www.springframework.org/schema/tool" />
	
	<xsd:element name="context-config">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="name" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>name</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="threadpool-core-size" type="xsd:int"/>
                    <xsd:attribute name="threadpool-max-size" type="xsd:int"/>
                    <xsd:attribute name="threadpool-queue-capacity" type="xsd:int"/>
                    <xsd:attribute name="threadpool-alive-seconds" type="xsd:int"/>
                    <xsd:attribute name="service-timeout-seconds" type="xsd:int"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>